language: node_js
node_js:  
  - "8" 
jdk:
  - oraclejdk8
addons:
  sonarcloud: true
script:
  - sonar-scanner -Dsonar.login=$SONAR_TOKEN -Dsonar.organization=daniela1409 -Dsonar.projectKey=mi-calc -Dsonar.sources='./app' -X
